<div class="container">
  <div class="gutter"></div>
  <div class="main-content">
    <section>
      <img src="{{muppetImage}}" alt="Description of the image" class="muppet-image">
      <div style="font-size: 2em; margin-top: 12px;">Yes!</div>
      <br />
      <div>Unfortunately, Elon Musk continues to be an absolute muppet.</div>
      <br />
      <div>Notable muppet-like behaviour includes (but is not limited to) the following:</div>

      <ul>
        @for (link of links; track link.title) {
        <li>
          <a [href]="link.url" target="_blank" rel="noopener noreferrer">{{ link.title }}</a>
        </li>
        }
      </ul>
    </section>
    <footer>
      <p>Created by <b>Alan Smith</b></p>
      <a href="buymeacoffee.com/alansmithofficial" target="_blank" rel="noopener" class="buy-me-coffee"
        aria-label="Support this site by buying him a coffee!">
        You can support this site<br /> by buying him a coffee!
      </a>
    </footer>
  </div>
  <div class="gutter"></div>
</div>