.container {
    display: flex;
    min-height: 100%;
}

.gutter {
    flex-basis: 10%;
    background-color: whitesmoke;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    flex-basis: 90%;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
}

div {
    text-align: justify;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

ul {
    margin-left: 0;
    padding-left: 12px;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}
