<div class="container">
  <div class="gutter"></div>
  <div class="main-content">
    <section>
      <img src="{{muskyImage}}" alt="Description of the image" style="border-radius: 12px">
      <div class="caption">Elon "The Muppet" Musk</div>
      <div style="font-size: 2em; margin-top: 12px;">Yes!</div>
      <br />
      <div>Elon Musk is indeed, an absolute muppet.</div>
      <br />
      <div>Notable muppet-like behaviour includes (but is not limited to) the following:</div>

      <ul>
        @for (link of links; track link.title) {
        <li>
          <a [href]="link.url" target="_blank" rel="noopener noreferrer">{{ link.title }}</a>
        </li>
        }
      </ul>
    </section>
    <footer>
      <p>Created by <b>The Digital Knight</b></p>
      <img src="{{digitalKnightImage}}" alt="Digital Knight Image" class="knight-image" />
      <a href="https://buymeacoffee.com/thedigitalknight" target="_blank" rel="noopener" class="buy-me-coffee"
        aria-label="Support this site by buying him a coffee!">
        Support this site<br /> by buying him a coffee!
      </a>
    </footer>
  </div>
  <div class="gutter"></div>
</div>