/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    //font-family: Arial, sans-serif;
    //font-family: 'Courier New', Courier, monospace;
    //font-family: "Lexend Giga", serif;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}