/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    //font-family: Arial, sans-serif;
    //font-family: 'Courier New', Courier, monospace;
    //font-family: "Lexend Giga", serif;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0066d2;
}